/* Underbar 전체 영역 */
.underbar {
    width: 100%;
    background-color: #2b2b2b;
    color: #818181;
    box-sizing: border-box;
  }

/* 내부 콘텐츠 영역: 중앙 정렬 및 각 요소별 패딩 추가 */
.underbar-content {
    width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* 하위 요소에 개별 패딩 적용 */
.underbar-content > * {
    padding: 1rem;
}
  
/* Header 영역: 수직축으로 가운데 정렬된 로고 텍스트 */
.underbar-header {
  flex: 0.8;
  min-width: 250px;
  margin: auto; 
  display: flex;
  align-items: center;
}

.logo-text {
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 800;
}

/* 회사 정보 영역 */
.company-info {
  flex: 1;
  min-width: 250px;
  text-align: left;
  font-size: 0.7rem;
}
.company-info p {
  margin: 0.3rem 0;
}

/* Contact 정보 영역 */
.contact-info {
  flex: 1;
  min-width: 250px;
  text-align: left;
  font-size: 0.7rem;
}
.contact-info p {
  margin: 0.3rem 0;
}

/* Social 아이콘 영역 */
.underbar-social {
  margin-top: 0.6rem;
  text-align: left;
}

.social-icon {
  display: inline-block;
  margin: 0 0.2rem;
}

.social-icon img {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain; /* 전체 이미지를 보이게 함 */
  border-radius: 50%;
}

/* 화면 너비 1024px 이하일 때 .underbar-content를 100%로 변경 */
@media (max-width: 768px) {
  

  .logo-text {
    padding: 0rem 0rem;
  }
  .underbar-content {
    width: 100%;
    padding: 0 1rem; /* 필요에 따라 좌우 패딩 추가 */
  }
}